*, *::after, *::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#frame {
    border: rgb(115, 159, 241) solid 1px;
    width: 322px;
    height: 500px;
    position: relative;
    background-color: rgb(184, 184, 176);
    margin: 50px;
    position: absolute;
    top: -47px;
    left: -47px;
}

table {
    position: absolute;
    top: 198px;
    text-align: center;
    width: 320px;   
    height: 300;
    border-spacing: 5px;
    background-color: rgb(184, 184, 176);
    border:darkgray;
}

th, td {
    background: rgb(209,207,204);
    background: linear-gradient(0deg, rgba(209,207,204,1) 18%, rgba(228,242,242,1) 100%);
    width: 51px;
    height: 45px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px black solid;
    border-radius: 5px;
}

.display {
    width: 310;
    height: 90px;
    margin: 5px auto;
    overflow-y: scroll;
    background-color: rgb(184, 184, 176);
}

#upString { 
    width: 290px;
    height: 20px;
    margin: 10px auto;
    border: 1px rgb(187, 60, 176) dotted;   
}

#inpt {
    width: 317px;
    height: 100px;
    font-size: 30px;
}

.firstString {
position: absolute;
top:10px;
left: 140px;
}

.secondString {
    text-align: right;
    font-size: 2em;
    margin-top: 40px;
    margin-right: 10px;
}

#bordLine {
    width: 330px;
    height: 510px;
    border: 1px solid black;
    margin: 50px;
    background-color: rgb(165, 195, 250);
}

button {
    width: 100%;
    height: 100%;
    background: rgb(171,151,160);
    background: radial-gradient(circle, rgba(171,151,160,1) 0%, rgba(137,159,185,1) 100%);  
    outline: none;
}

#inpt {
    width: 100%;
    height: 100px;
}